<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", alt: "Logo", width: 100 %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Home", cocktails_path, html_options = {:class => "navbar-wagon-item navbar-wagon-link"} %>
  </div>
</div>
